@import '../../scss/_variables.scss';

.productsCard {
  max-width: 300px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 20px 2px rgba(34, 60, 80, 0.2);
  transition: box-shadow 0.2s linear;

  &:hover {
    box-shadow: 0px 0px 30px 10px rgba(34, 60, 80, 0.2);
  }

  .img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .info {
    padding: 16px;
    display: flex;
    justify-content: space-between;

    .cardInfo {
      display: flex;
      flex-direction: column;

      .infoHeader {
        margin-bottom: 10px;
      }

      .inStock {
        margin: 0;
        font-size: 12px;
        font-weight: 400;
        color: #969696;
      }
    }

    .link {
      text-decoration: none;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .title {
    margin: 0;
    font-size: 16px;
  }

  .price {
    margin: 0;
    font-size: 16px;
  }

  .addCart {
    text-align: center;
    position: relative;

    .btn {
      width: 25px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 26px;
      border: 1px solid $color-primary;
      border-radius: 5px;
      outline: none;
      transition: background-color 0.2s linear;
      position: absolute;
      right: 0;

      &:hover {
        background-color: $color-primary;
        cursor: pointer;
      }
    }

    .btnRemove {
      background: url('/icons/minus.svg') no-repeat center / 50%;
      top: 0;
    }

    .btnAdd {
      background: url('/icons/plus.svg') no-repeat center / 50%;
      bottom: 0;
    }

    .counter {
      position: absolute;
      top: 28px;
      right: 8px;
    }
  }
}
