@import '../../scss/_variables.scss';
@import '../../scss/_media_breakpoints.scss';

.card {
  max-width: 300px;
  padding: 15px;
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 2px #aaa;
  border-radius: 10px;
  overflow: hidden;
}

.prewiev {
  display: flex;
  flex-direction: column;
}

.img {
  display: block;
  width: 100%;
}

.link {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
    color: #ca0027;
  }
}

.title {
  margin: 0;
  padding-block: 10px;
}

.info {
  display: flex;
  // justify-content: space-between;
  flex-direction: column;
  gap: 15px;

  .reviews {
    display: flex;
    gap: 5px;

    .compare {
      padding: 5px;
      border-radius: 10px;
      border: 1px solid #ccc;
      display: flex;
      align-items: center;
    }

    .rate {
      display: flex;
      align-items: center;
      border: 1px solid #ccc;
      padding: 5px;
      border-radius: 10px;
    }
  }

  .price {
    flex: 1;
    font-size: 18px;
    font-weight: 600;
    // background-color: #eee;
    background: linear-gradient(270deg, #f6f6f6, hsla(0, 0%, 100%, 0));
    padding-block: 10px;
    border-radius: 10px;
  }

  .btn {
    min-width: 45px;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #bbb;
    color: #bbb;
    font-weight: 500;
    transition: background-color 0.1s ease-in-out;
  }

  .btnFavourite {
    &:hover {
      background-color: #eee;
    }
  }

  .btnFavouriteActive {
    border-color: $color-primary;
    color: $color-primary;

    &:hover {
      background-color: white;
      // border-color: #eee;
      color: #eee;
    }
  }

  .btnToCart {
    // background-color: $color-primary;
    padding-block: 0;

    &:hover {
      background-color: #ca0027;
      color: white;
    }
  }

  .btnToCartActive {
    background-color: $color-primary;
    border-color: $color-primary;
    color: white;

    &:hover {
      background-color: white;
      border-color: #eee;
      color: #eee;
    }
  }
}

.order {
  display: flex;
  gap: 5px;
}

@include mobile {
}
