.container {
  max-width: 1200px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 15px;
}

.cart {
  padding-block-end: 20px;
}

.cartInner {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.massSelection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eee;
  border-radius: 10px;
  padding: 5px 15px;

  label {
    padding-block: 5px;
  }
}

.list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.order {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  padding: 15px;
  background-color: #eee;
}

.amountBlock {
  span {
    font-size: 12px;
    font-weight: 400;
  }

  .amount {
    display: flex;
    justify-content: space-between;

    p {
      display: block;
      margin: 0;
      font-size: 18px;
      font-weight: 500;
    }
  }
}
