@import '../../scss/variables';
@import '../../scss/_media_breakpoints.scss';

.container {
  max-width: 1200px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}

.trust {
  padding: 50px 0;

  .title {
    margin: 0 20px 20px;
    font-size: 30px;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.cardsBlock {
  margin-bottom: 20px;

  .cardsList {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .card {
    border-radius: 20px;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

@include mobile {
  .container {
    padding: 0 15px;
  }

  .trust {
    padding: 20px 0;

    .title {
      margin-left: 0;
      font-size: 20px;
    }
  }
}
