@import '../../scss/_variables.scss';
@import '../../scss/_media_breakpoints.scss';

.container {
  max-width: 1200px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}

.brands {
  padding: 50px 0;

  .title {
    margin: 0 20px 20px;
    font-size: 30px;
  }
}

.cardsBlock {
  // margin-bottom: 20px;

  .cardsList {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

@include mobile {
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }

  .brands {
    padding: 20px 0;

    .title {
      margin-left: 0;
      font-size: 20px;
    }
  }
}
