@import '../../scss/variables';

.container {
  max-width: 1200px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}

.brands {
  padding: 50px 0;

  .title {
    margin: 0 20px 20px;
    font-size: 30px;
  }
}

.cardsBlock {
  margin-bottom: 20px;

  .cardsList {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .card {
    border-radius: 20px;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
