@import '../../scss/_media_breakpoints.scss';

.container {
  max-width: 1185px;
  width: 100%;
  margin: 0 auto;
}

.productsList {
  background-color: #ebebeb;
  padding: 50px 0;

  .title {
    margin: 0 0 20px;
  }
}

.productsListInner {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0 20px;
}

@include mobile {
  .container {
    max-width: calc(375px - 24px);
  }

  .productsList {
    padding: 20px 0;
  }
}
