@import '../../scss/variables.scss';
@import '../../scss/media_breakpoints.scss';

.container {
  max-width: 1200px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.header {
  padding: 0 0 20px;
  // position: sticky;
  top: 0;
}

.secondary {
  padding: 10px 0;
  background-color: $color-primary;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.city {
  transition: color 0.2s linear;

  &:hover {
    color: #a1001f;
    cursor: pointer;
  }
}

.city::before {
  content: url('/icons/location.png');
  margin-right: 5px;
}

.contact {
  display: flex;
  align-items: center;
  gap: 15px;

  .phoneNumbers {
    display: flex;
    align-items: center;
    gap: 10px;

    .phoneList {
      display: flex;
      flex-direction: column;

      .phone {
        font-weight: 500;
      }
    }
  }

  .orderCall {
    background: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
    padding: 0 10px;
    height: 40px;
    transition: 0.2s;

    &:hover {
      color: $color-primary;
      background: #fff;
      cursor: pointer;
    }
  }

  .socials {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;

    .socialsIcon {
      width: 35px;
      height: 35px;
      background: #fff;
      border: 1px solid transparent;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.2s;

      a {
        color: $color-primary;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:hover {
        background: $color-primary;
        border-color: #fff;
        cursor: pointer;
      }

      &:hover,
      &:hover a {
        color: #fff;
      }
    }
  }
}

.headerMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 30px 0;
  height: 100%;

  .headerTop {
    width: 300px;

    .burgerMenu,
    .burgerSearch {
      display: none;
    }
  }

  .logo {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .search {
    flex: 1;
    position: relative;

    .inputSearch {
      display: flex;
      justify-content: space-between;

      .input {
        flex: 1;
        padding: 10px;
        border: 1px solid #ccc;
        border-right-width: 0;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        outline: none;

        &:focus {
          border-color: $color-primary;
          width: 100%;
          flex: 1;
        }
      }

      .btnSearch {
        width: 40px;
        border-radius: 0 10px 10px 0;
        border: 0;
        background-color: $color-primary;
        transition: background-color 0.2s linear;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: #bf0025;
          cursor: pointer;
        }
      }
    }

    .tagsBar {
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      // background: #ebebeb;
      border-radius: 10px;
      padding: 5px;
      display: none;
      align-items: center;
      gap: 10px;
      overflow: hidden;
      font-size: 14px;

      .tags {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        gap: 5px;

        .tagsItem {
          padding: 2px 10px;
          background: #ccc;
          border-radius: 15px;
          transition: background .2s ease;
          cursor: pointer;

          &:hover {
            background: #a4a4a4;
          }
        }

        a {
          color: inherit;
          text-decoration: none;
        }
      }
    }

    .active {
      display: flex;
    }
  }

  .headerUser {
    display: flex;
    align-items: center;
    gap: 20px;

    .button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
      padding: 0;
      border: 0;
      background: transparent;
      font-size: 14px;
      transition: background-color 0.2s linear;
      text-decoration: none;
      color: inherit;

      &:hover {
        cursor: pointer;
      }

      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.headerTooltip {
  box-shadow: 0 16px 16px -16px rgba(43, 52, 69, 0.1);
  background-color: #ebebeb;
  border-radius: 5px;
  height: 50px;

  .headerTooltipInner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .categoryBtn {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 0;
    border-radius: 10px;
    padding: 0 16px;
    width: 100%;
    max-width: 340px;
    height: 100%;
    background: $color-primary;
    color: #fff;
    transition: background-color 0.2s linear;

    &:hover {
      cursor: pointer;
      background-color: #c60026;
    }

    svg {
      fill: #fff;
    }

    p {
      margin: 0;
    }
  }
}

.navbar {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 15px;
  color: #fff;
  font-weight: 500;

  .navbarLink {
    color: inherit;
    text-decoration: none;
    padding: 10px 0;
    transition: color 0.2s linear;

    &:hover {
      color: #333;
    }
  }
}

@include mobile {
  .container {
    width: 100%;
    padding: 0 15px;
  }

  .header {
    padding: 10px 0;
  }

  .secondary {
    display: none;
  }

  .navbar {
    display: none;
  }

  .headerMain {
    padding: 0;

    .headerTop {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        width: 150px;
      }

      .burgerMenu,
      .burgerSearch {
        display: block;
        border: 0;
        padding: 0;
        background: none;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .headerUser {
      display: none;
    }

    .search {
      display: none;
    }
  }

  .headerTooltip {
    display: none;
  }
}
