@import '../../scss/_variables.scss';
@import '../../scss/_media_breakpoints.scss';

.secondary {
  height: 40px;
  display: flex;
  align-items: center;
  background-color: $color-primary;
  color: #ffffff;
}

.container {
  max-width: 1185px;
  width: 100%;
  padding: 12px;
  margin: 0 auto;
}

.containerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city {
  transition: color 0.2s linear;

  &:hover {
    color: #a1001f;
    cursor: pointer;
  }
}

.city::before {
  content: url('/icons/location.png');
  margin-right: 5px;
}

.phoneList {
  display: flex;
  gap: 20px;
}

.phone {
  transition: color 0.2s linear;

  &:hover {
    color: #a1001f;
    cursor: pointer;
  }
}

.headerContainer {
  background-color: red;
}

.headerMain {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
  height: 50px;

  .logo {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .search {
    width: 50%;
    display: flex;

    .burgerMenu {
      display: none;
    }

    .inputSearch {
      display: flex;
      justify-content: space-between;
      flex: 1;

      .input {
        flex: 1;
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-right-width: 0;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        outline: none;

        &:focus {
          border-color: $color-primary;
        }
      }

      .btnSearch {
        width: 40px;
        border-radius: 0 10px 10px 0;
        border: 0;
        background-color: $color-primary;
        transition: background-color 0.2s linear;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: #bf0025;
          cursor: pointer;
        }
        // border-top-left-radius: 0px;
        // border-top-right-radius: 0px;
        // border-bottom-right-radius: 0px;
        // border-bottom-left-radius: 0px;
      }
    }
  }

  .headerUser {
    display: flex;
    align-items: center;
    gap: 10px;

    .user {
      width: 40px;
      height: 40px;
      border: 0;
      border-radius: 50%;
      transition: background-color 0.2s linear;

      &:hover {
        cursor: pointer;
      }

      img {
        width: 20px;
        height: 20px;
      }
    }

    .cart {
      width: 40px;
      height: 40px;
      border: 0;
      border-radius: 50%;
      transition: background-color 0.2s linear;

      &:hover {
        cursor: pointer;
      }

      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

// .mainLogo {
//   width: 208px;
//   height: 47px;
//   background: url('../../assets/logo/main-logo.png') no-repeat center / cover;
// }

.headerTooltip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  box-shadow: 0 16px 16px -16px rgba(43, 52, 69, 0.1);
  background-color: #ebebeb;
  border-radius: 5px;
  padding-right: 20px;

  .categoryBtn {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 0;
    border-radius: 5px;
    // background-color: #ebebeb;
    padding: 0 16px;
    width: 30%;
    height: 100%;
    transition: background-color 0.2s linear;

    &:hover {
      cursor: pointer;
      background-color: #d2d2d2;
    }
  }
}

.navbar {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;

  .navbarLink {
    color: #333;
    text-decoration: none;
    padding: 10px 0;
    transition: color 0.2s linear;

    &:hover {
      color: $color-primary;
      border-bottom: 2px solid $color-primary;
    }
  }
}

@include mobile {
  .container {
    max-width: calc(375px - 24px);
  }

  .secondary {
    display: none;
  }

  .navbar {
    display: none;
  }

  .headerMain {
    gap: 20px;
    flex-direction: column;
    padding: 0 0 40px;

    .headerTop {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      .logo {
        width: 100px;
      }

      .headerUser {
        .user,
        .cart {
          width: 30px;
          height: 30px;

          img {
            width: 15px;
            height: 15px;
          }
        }
      }
    }

    .search {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 5px;

      .burgerMenu {
        display: block;
        border: 0;
        border-radius: 10px;
        width: 41px;
        height: auto;
        background: url('/icons/menu.svg') no-repeat center / cover;
        background-color: #ebebeb;
        background-size: 30px;

        &:hover {
          cursor: pointer;
        }
      }

      .input {
        border-width: 1px;
      }
    }
  }

  .headerTooltip {
    display: none;
  }
}
