@import '../../scss/media_breakpoints';
@import '../../scss/variables';

.bottomNav {
  display: none;
}

@include mobile {
  .mobileNav {
    width: 100%;
  }

  .bottomNav {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
    padding: 10px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px -5px 35px 0px rgba(34, 60, 80, 0.2);

    .navList {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100vw;
      height: 100%;
    }

    .navLink {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      font-size: 12px;
      font-weight: 600;
      color: #8a8a8a;

      .navIcon {
        height: 22px;
        fill: #8a8a8a;
        color: transparent;
      }

      span {
        margin: 0;
        font-size: 10px;
        font-weight: 400;
      }
    }

    .active {
      color: $color-primary;

      path {
        fill: $color-primary;
      }
    }
  }
}
