@import '../../scss/_variables.scss';
@import '../../scss/_media_breakpoints.scss';

.container {
  max-width: 1200px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}

.footer {
  // padding: 0 0 40px;
  background-color: #de002b;
  color: #fff;
}

.row {
  background-color: #4a4a4a;
  padding: 40px 0 20px;

  .rowInner {
    display: flex;
    justify-content: space-between;
  }
}

.logo {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 50px;

  .call {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    a {
      text-decoration: none;
      color: inherit;
      transition: color 0.2s linear;

      &:hover {
        color: $color-primary;
      }
    }

    span {
      font-size: 20px;
      font-weight: 500;
    }
  }

  img {
    max-width: 200px;
  }

  .logoText {
    margin: 0;
  }
}

.about {
  h2 {
    margin: 0;
    margin-bottom: 20px;
  }

  .aboutMenu {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      text-decoration: none;
      color: inherit;
      transition: color 0.2s linear;

      &:hover {
        color: $color-primary;
      }
    }
  }
}

.customCare {
  h2 {
    margin: 0;
    margin-bottom: 20px;
  }

  .customCareMenu {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      text-decoration: none;
      color: inherit;
      transition: color 0.2s linear;

      &:hover {
        color: $color-primary;
      }
    }
  }
}

.services {
  max-width: 300px;

  h2 {
    margin: 0;
    margin-bottom: 20px;
  }

  .servicesInfo {
    list-style: none;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    p {
      margin: 0;
    }

    a {
      text-decoration: none;
      color: inherit;
      transition: color 0.2s linear;

      &:hover {
        color: $color-primary;
      }
    }
  }

  .servicesMenu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;

    a {
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      transition: background-color 0.2s linear;

      &:hover {
        background-color: #333;
      }
    }

    img {
      width: 16px;
      height: 16px;
    }
  }
}

.footerBottom {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin: 0;
    text-align: center;
  }
}

@include mobile {
  .container {
    max-width: calc(375px - 24px);
  }

  .footer {
    transform: translatey(-50px);
    font-size: 14px;
  }

  .row {
    flex-wrap: wrap;
  }

  .about,
  .customCare {
    display: none;
  }
}
