@import '../../scss/_media_breakpoints.scss';

.container {
  max-width: 1200px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}

.gofra {
  padding: 40px 0;
  font-size: 18px;

  h2 {
    font-size: 26px;
    margin-bottom: 50px;
  }

  .mainInfo {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding-bottom: 50px;

    img {
      min-width: 500px;
      width: 100px;
      height: auto;
    }

    .product {
      flex: 1;
      padding: 40px;
      background-color: #eaeaea;
      border-radius: 20px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .productInfo {
        p {
          margin: 10px 0;
        }

        span {
          font-weight: 500;
        }
      }

      .productOrder {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;

        .buy {
          border: none;
          padding: 20px 40px;
          background-color: #de002b;
          border-radius: 20px;
          cursor: pointer;
          font-size: 20px;
          font-weight: 500;
          transition: 0.2s ease;

          &:hover {
            background-color: #c80027;
          }
        }

        .orderInfo {
          P {
            font-weight: 500;
            margin: 0;
          }

          span {
            padding-left: 20px;
            text-align: right;
          }
        }

        form {
          display: flex;
          flex-direction: column;
          align-self: flex-end;
          gap: 5px;

          div {
            display: flex;
            justify-content: space-between;
            gap: 5px;
            width: 100%;

            input {
              height: 40px;
              width: 60px;
              outline: none;
              border: 1px solid #ccc;
              border-radius: 10px;
              padding: 10px;

              &:focus {
                border-color: red;
              }
            }

            button {
              background-color: #de002b;
              border: none;
              width: 40px;
              border-radius: 10px;
              cursor: pointer;
              transition: background-color .2s ease;

              &:hover {
                background-color: #b90024;
              }
            }
          }
        }
      }
    }
  }
}

@include mobile {
  .container {
    min-width: 320px;
    width: 100%;
    padding: 0 15px;
  }

  .gofra {
    padding: 20px 0;
    font-size: 14px;

    h2 {
      font-size: 18px;
      margin: 0;
    }

    .mainInfo {
      flex-direction: column;
      justify-content: space-between;
      gap: 0;
      padding: 0;

      img {
        min-width: 300px;
        width: 100%;
      }

      .product {
        min-height: 400px;
        padding: 20px;
      }
    }
  }
}
